.navbar {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  width: 840px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.openCart {
  font-size: 2rem;
  cursor: pointer;
  color: #008cba;
}
